imgui_bundle>=0.8.7
numpy
scipy
pandas
matplotlib
opencv-python-headless==4.8.0.74
ffpyplayer
I2MC
msgpack
aiosqlite
uvloop ; sys_platform != "win32"
pyobjc-framework-Cocoa ; sys_platform == "darwin"
pathvalidate
natsort
pebble