imgui_bundle>=0.8.2
numpy
scipy==1.9.1
pandas
matplotlib
opencv-contrib-python-headless==4.6.0.66
ffpyplayer
I2MC
msgpack
aiosqlite
uvloop ; sys_platform != "win32"
pyobjc-framework-Cocoa ; sys_platform == "darwin"
pathvalidate
natsort
pebble