glassesTools[GUI]==1.14.0   # pulls in various other dependencies such as imgui_bundle, matplotlib, numpy, opencv, pandas, polars
I2MC>=2.2.6
aiosqlite
uvloop ; sys_platform != "win32"
pyobjc-framework-Cocoa ; sys_platform == "darwin"
pathvalidate
pebble